<%= link_to clubhouse_post_path(clubhouse_id: post.clubhouse.id, id: post.id) do %>
    <div class="post-link">
        <h2>
            <%= post.title %>
        </h2>
        <%= "by #{post.user.username}" if can_show_author%>

        <p class="post-body">
            <%= "#{post.body[0..5]}..."%>
        <p>
    </div>
    <% end %>