<div class="new-club">
<h2> Create a clubhouse </h2>

<%= form_with model: [@user, @user.clubhouses.build ] do |form| %>
    <div class="club-form-label">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div class="submit-button">
        <%= form.submit %>
    </div>
<% end %>

</div>