<div class="clubhouse"> 
  <%show_author = can? :read, @clubhouse%>
    <% unless show_author%>
      <%= link_to user_clubhouse_join_path(current_user.id) do %>
          <div class="add-clubhouse"> 
              <svg class="yellow-plus" width="45" height="45" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 6L12 18" stroke-width="2" stroke-linecap="round"/>
                  <path d="M18 12L6 12" stroke-width="2" stroke-linecap="round"/>
              </svg>
              <p> Join clubhouse </p>
          </div>
      <% end %>
    <% else %>
      <h1> Welcome to the club <%= current_user.username %>! </h2>
    <% end %>

    <h1 class="clubhouse-name"><%= @clubhouse.name%></h1>
    <h3 class="posts-header">Posts</h3>

    <div class="post-list">
      <%= render @clubhouse.posts, can_show_author: show_author%>
    </div>
<div>
