<div class="clubhouse"> 
    <h1 class="clubhouse-name"> <%= @clubhouse.name%> </h1>

    <h3 class="posts-header"> Posts </h3>

    <%= render @clubhouse.posts%>
    <% puts "Session" %>
    <% puts session %>
</div>
