<div class="clubhouse"> 
    <h1 class="clubhouse-name"><%= @clubhouse.name%></h1>

    <%show_author = can? :read, @clubhouse%>
    <h3 class="posts-header">Posts</h3>

    <div class="post-list">
      <%= render @clubhouse.posts, can_show_author: show_author%>
    </div>
<div>
